<%= link_to user_path(user), class: "under-line" do %>
  <%= attachment_image_tag user, :profile_image, size: "70x70", fallback: 'no_image.jpg', format: 'jpeg', class: "rounded-circle" %>
  <span class="user-name"><%= user.name %></span>
<% end %>