<div class="row">
  <div class="col-sm-6 snb-img">
    <p>あなたの「好き」をフォローしましょう。</p>
    <p>話題のトピックを追いかけましょう。</p>
    <p>会話に参加しましょう。</p>
  </div>
  <div class="col-sm-6">
    <div class="text-center">
      <%= link_to 'ログイン', new_user_session_path %>
    </div>
    <div class="text-center">
      <%= link_to 'ユーザー登録', new_user_registration_path %>
    </div>
  </div>
</div>