<%= link_to post_path(post), class: "post-content" do %>
	<p class="post-image"><%= attachment_image_tag post, :post_image, size: "500", class: "img" %></p>
	<p class="post-text mt-3 ml-3"><%= truncate(post.content, length: 300) %></p>
<% end %>