<!--プロフィール部分-->
<div class="profile-index mb-3">
  <%= render 'posts/profile', post: post %>
</div>
<!--投稿画像と内容-->
<div class="post-contents-index">
	<%= render 'posts/contents', post: post %>
</div>
<div id="bottons_<%= post.id %>">
  <%= render 'posts/icon', post: post %>
</div>