<%= link_to user_path(post.user_id), class: "btn" do %>
  <%= attachment_image_tag post.user, :profile_image, :fill, 70, 70, fallback: 'no_image.jpg', size: '70x70', format: 'jpeg', class: "rounded-circle" %>
  <span class="name ml-3"><%= post.user.name %></span>
<% end %>