/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import 'font-awesome-sprockets';
@import 'font-awesome';
@import "bootstrap";

* {
  box-sizing: border-box;
  // margin: 0 auto;
}

.side-btn {
    width: 70%;
    text-align: left;

}

.login-field {
  width: 100%;
}

.signup-btn {
  width: 100%;
  height: 44px;
  line-height: 35px;
  background: #FF9933; //ボタンの背景色
  color: white; //ボタンのテキストの色
}

.login-btn {
  width: 100%;
  height: 44px;
  line-height: 35px;
  background: #66CC33; //ボタンの背景色
  color: white; //ボタンのテキストの色
}

.btn-outline-success {
  padding: 6px 12px;
}

.signup-field {
  width: 100%;
}

.name {
  font-weight: bold;
}

.follow-form {
  position: relative
}

.fa-comments {
  font-size: 40px;
  color: #5D99FF;
  position: absolute;
  left: 130px;
  top: 13px;
}

.img {
  max-width: 100%;
  height: auto;
}

.fa-trash-alt {
  color: black;
}

.left-line {
  border: solid #EEFFFF;
  border-width: 0px 2px;
}

.side-bar {
  margin-top: 250px;
  position: sticky;
  top: 20px;
}

.main {
  border: solid #EEFFFF;
  border-width: 0px 2px;
}

.current-user-profile {
  margin-top: 100px;
  position: relative;
  background-color: #EEFFFF;
}

.name-position {
  position: absolute;
  top: 10px;
  left: 60px;
}
.profile-index {
  position: relative;
}

.profile-name-position {
  position: absolute;
  top: 10px;
  left: 80px;
}

.left-btn {
  width: 100%;
  text-align: left;
  padding-left: 0;
}

.right-bar {

  height: calc(100vh - 48px);
  overflow: scroll;
  border: solid #EEFFFF;
  border-width: 0px 2px;
}

.comment-form {
  position: sticky;
  top: 0;
  background-color : #FFFFFF;
  z-index: 1;
  border-bottom: solid 3px #EEFFFF;
}

.decoration .under-line {
  text-decoration: none;
  color: black;
}

.page-title {
  background-color: #EEFFFF;
  font-size: 15px;
}

.sub-title {
  background-color:  #EEFFFF;
  font-size: 12px;
}

.fixed {
  position: sticky;
  top: 0;
}

.alert {
  color:#262626;
  background:#FFEBE8;
  text-align: center;
  border:2px solid #990000;
  padding:12px; font-weight:850;
}

li {
  list-style: none;
}

.flash-error {
  color: red;
}

