// Place all the styles related to the events controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.event-filed {
  width: 80%;
}

.eventer-profile {
  position: relative;
}
.eventer-name {
  position: absolute;
  top: 5px;
  left: 60px;
}

.eventer-sex {
  position: absolute;
  top: 35px;
}

.event-title {
  color: #EEFFFF;
}