// Place all the styles related to the Favorites controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.unfavorite-btn {

 color: black;
 }

.favorite-btn {
 color: #e54747;
 }

 .comment-btn {
  color: black;
 }

 .delete-btn {
  color: black;
 }