// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.profile-show {
  position: relative;
}

.user-show-name {
  position: absolute;
}

.font-s {
  font-size: 12px;
}

.btn-outline-danger {
  position: absolute;
  right: 50px;
  width: 100px;
}

.follow-btn {
  background-color: #FF99FF;
}

