// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.profile-show {
  position: relative;
}

.user-show-name {
  position: absolute;
}

.font-s {
  font-size: 12px;
}

.btn-outline-danger {
  position: absolute;
  right: 50px;
  width: 100px;
}

.btn-success {
  position: absolute;
  right: 50px;
}

.edit-field {
  width: 80%;
}

.image-border {
  border: 1px solid gray;
  border-radius: 3px;
  padding: 3px;
}

.profile-black a{
  text-decoration: none;
}

.user-post-title {
  position: sticky;
  top: 0px;
  background-color: #EEFFFF;
}